.body {
    position: absolute;
    left:30%;
    top: 20%;
    background: #06031a;
    color: white;
    width: 65%;
    border: 3px solid;
    border-color: #f8e3c4;
}
body {
    background: #06031a;
    margin: 0;
}
.body_log{
    position: absolute;
    left:5%;
    top: 20%;
    background: #06031a;
    color: white;
    width: 90%;
    border: 3px solid;
    border-color: #cc3495;
}
.header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100px;
    background: #0b0630;;
    color: #89f6f9;
    border-bottom: 3px solid;
    border-top: 3px solid;
    border-color: #cc3495;
}
.header a {
    color: #cc3495;
}

@media screen and (max-width: 1100px) {
    .header a {
        display: flex;
    }
}


.title {
    position: absolute;
    bottom: 30%;
    left: 40%;
    font-size: 40px;
    /* тут шрифт */
    font-family: 'Press Start 2P', cursive;
}

.title a{
    display: block;
    margin:auto;
    text-decoration: none;
}
.title a:hover{
    color: #f8e3c4;
}
.menu {
    font-family: 'Press Start 2P', cursive;
    /* font-size: 10px; */
    position: absolute;
    bottom: 30%;
    right: 5%;
}
.menu a{
    color: #cc3495;
    font-size: 15px;
    text-decoration: none;
    /* top: 40%; */
}

.menu a:hover{
    color: #f8e3c4;
}

.cat {
    position: absolute;
    top: 20%;
    left: 5%;
    width: 24vw;
    height: 600px;
    border: 3px solid;
    border-color: #f8e3c4;
    background: z;
}

.text_cat{
    margin-top: 10%;
    margin-left: 14%;
}

.basket {
    position: absolute;
    left:5%;
    top: 20%;
    height: 1000px;
    background: #0b0630;
    color: white;
    width: 90%;
}

.title_item {
    margin-top:  5% ;
    font-family: 'Press Start 2P', cursive;
    color: #f8e3c4;
    display: block;
}

.title_item a:hover{
    text-decoration: none;
    color: #cc3495;
}
input{
    border: 2 px solid #cc3495;
    background: #06031a;
    height: 30px;
    width: 150px;
    color: #f8e3c4;
    font-size: 10px;
    font-family: 'Press Start 2P', cursive;

}
input:focus{
    border:2px solid #cc3495;
}
.login {
    color: #f8e3c4;
    font-size: 20px;
    font-family: 'Press Start 2P', cursive;
}

.title_item a{
    font-family: 'Press Start 2P', cursive;
    size: 20;
    color: #cc3495;
    text-decoration: none;
}

.title_item a:hover{
    text-decoration: none;
    color: #f8e3c4;
}

.title_cat {
    margin-top: 5%;
    font-family: 'Press Start 2P', cursive;
    color: #f8e3c4;
    font-size: 22px;
}



.items-container{
    width: 60vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 4%;
}

.item img{
    width: 70%;;
}

.item{
    width: 40%;
    padding-bottom: 10px;
}
